@import url('./tabs.css');
@import url('./homeyExtras.css');

:root {
    --border: 0.05rem solid var(--homey-color-line);
}

.autocomplete {
    border-radius: var(--homey-border-radius) !important;
    color: var(--homey-color-text) !important;
    border: var(--border) !important;
    width: 100% !important;
}

.autocomplete::placeholder {
    color: var(--homey-color-text-placeholder) !important;
}

.autoComplete_wrapper > ul > li mark {
    color: var(--homey-color-blue);
}


.autoComplete_wrapper > ul > li {
    font-size: 16px;
    line-height: 20px;
}


.col {
    align-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.description {
    color: gray;
    font-size: 12px;
    /*padding-left: 30px; No ICON anymore*/
}

.hidden {
    display: none;
    visibility: hidden;
}

.icon {
    background-color: transparent !important;
    display: inline-block;
    fill: currentcolor;
    height: 1em;
    vertical-align: -0.125em;
    width: 1em;
}

.input-group {
    align-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.insight-input {
    border: var(--border);
    border-radius: .25rem !important;
    box-sizing: border-box;
    font-size: 16px;
    height: 2rem;
    padding: 0 .5rem 0 .5rem;
    text-align: center;
    text-overflow: ellipsis;
    width: auto;
}

.noResult {
    font-size: 16px;
    padding: 0.2rem 1rem 0.2rem 1rem;
}

.row {
    align-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.row.row-end {
    justify-content: flex-end;
}

.scope {
    border: var(--border);
    box-sizing: border-box;
    color: var(--homey-color-text) !important;
    font-size: 16px;
    height: 2rem;
    margin: 0;
    outline: 0;
    padding: 0 1rem 0 1rem !important;
    text-overflow: ellipsis;
}

.scope::placeholder {
    color: var(--homey-color-text-placeholder) !important;
}

.scope::-webkit-outer-spin-button,
.scope::-webkit-inner-spin-button {
    margin: 0;
    webkit-appearance: none;
}

.scope:first-child:not(:last-child) {
    border-end-start-radius: var(--homey-border-radius);
    border-right: none !important;
    border-start-start-radius: var(--homey-border-radius);
    border-end-end-radius: 0;
    border-start-end-radius: 0;
}

select.scope {
    border-radius: 0 !important;
}

.scope:last-child:not(:first-child) {
    border-end-end-radius: var(--homey-border-radius);
    border-left: none !important;
    border-start-end-radius: var(--homey-border-radius);
}

.search-icon {
    height: 20px;
    padding-right: 10px;
    vertical-align: middle;
    width: 20px;
}

.switch {
    display: inline-block;
    height: 25px;
    position: relative;
    width: 45px;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes grow {
    to {
        height: 16px;
        width: 16px;
    }
}

@keyframes spin {
    to {
        transform: rotate(359deg);
    }
}

@media (max-width: 450px) {
    .row {
        flex-wrap: wrap;
    }
}

@media (min-width: 450px) {
    .row.center {
        justify-content: center;
    }
}

hr.hy-nostyle {
    border-color: var(--homey-color-mono-40);
    opacity: 0.3;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type=number] {
    moz-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button {
    webkit-appearance: searchfield-cancel-button;
}
